<!DOCTYPE html>
<html >
  <head>
    <meta charset="UTF-8">
    <title>P2P Learn</title>
    <link rel="manifest" href="manifest.json">
    <link rel="stylesheet" href="dist/normalize.min.js">

    <link rel='stylesheet' href='dist/onsenui/css/onsenui.min.css'>
    <link rel='stylesheet' href='dist/onsenui/css/onsen-css-components.min.css'>
    <link rel="stylesheet" href="dist/style.css">
  </head>

  <body>
    <div id="app"></div>
    <!--Vue単一なんとかファイルをEmacs js2-mode Emmet yasnippet scss-modeを使って書くというわがままをできないから全部テンプレゆるして-->
    <template id="nav">
      <v-ons-navigator :page-stack="pageStack">
        <component :is="page" v-for="page in pageStack" :page-stack="pageStack" @push="pageStack = [...pageStack, $event]"></component>
      </v-ons-navigator>
    </template>

    <template id="home">
      <v-ons-page data-page="home">
        <custom-bar title="Home"></custom-bar>
        <p style="text-align:center">
          <v-ons-button modifier="cute" @click="goToSearch">
            <v-ons-icon icon="fa-search"></v-ons-icon>
            Search
          </v-ons-button>
          <v-ons-button modifier="cute"  @click="goToCollection">
            <v-ons-icon icon="ion-ios-book"></v-ons-icon>
            Collection
          </v-ons-button>
          <v-ons-button modifier="cute" @click="goToOther">
            <v-ons-icon icon="ion-more"></v-ons-icon>
            Other
          </v-ons-button>
          <v-ons-button modifier="cute" @click="goToUpload">
            <v-ons-icon icon="ion-upload"></v-ons-icon>
            Upload
          </v-ons-button>
          <v-ons-button modifier="cute" @click="goToMyProfile">
            <v-ons-icon icon="ion-person"></v-ons-icon>
            My Profile
          </v-ons-button>
        </p>
        
      </v-ons-page>
    </template>

    <template id="tutorial">
      <v-ons-page data-page="tutorial">
        <v-ons-carousel fullscreen swipeable auto-scroll overscrollable :index.sync="carIndex">
          <tutorial-item image="dist/res/tutorial/1.png" bg-color="#810893" text-color="white">このアプリは、皆さんの勉強をお互いに助け合うことを目的としたアプリです。</tutorial-item>
          <tutorial-item image="dist/res/tutorial/2.png" bg-color="#114514" text-color="white">投稿された勉強に役立つコンテンツを探して、広告を見たあと、学習できます。</tutorial-item>
          <tutorial-item image="dist/res/tutorial/3.png" bg-color="#fffc7f" text-color="black">このアプリ自身が秘密鍵を生成します。これは今までのパスワードに相当するものですが、外部にいかなる形でも送信されません。この鍵で、ユーザ確認と、コンピュータの識別と、データの暗号化を同時に行います。</tutorial-item>
          <tutorial-item image="dist/res/tutorial/5.png" bg-color="#b50018" text-color="white">秘密鍵の保存に、13個の英単語でできたパスフレーズを利用します。従来の機種変更コードに当たるものです。これを紛失、盗難してしまった場合、あなたの全てのデータも紛失、盗難します。</tutorial-item>
          <tutorial-item image="dist/res/tutorial/4.png" bg-color="#b50018" text-color="white">
            パスフレーズは紙に書いて、その紙を他人に見られないような場所に保管してください。<br>
            絶対にスクリーンショット、コピーアンドペーストによって保存しないでください！
            鍵を生成する前に、画面を見られていないかどうかを確認してください。
            
          </tutorial-item>
        </v-ons-carousel>
        <div class="carCtrl">
          <div class="left">
            <v-ons-toolbar-button @click="carIndex<=0 ?  back(): carIndex--">
              <v-ons-icon icon="ion-ios-arrow-back"></v-ons-icon>
              <span v-show="carIndex<=0">Exit</span>

            </v-ons-toolbar-button>
          </div>
          <div class="right">
            <v-ons-toolbar-button @click="carIndex>=4 ? back():carIndex++">
              <span v-show="carIndex>=4">Exit</span>
              <v-ons-icon icon="ion-ios-arrow-forward"></v-ons-icon>
            </v-ons-toolbar-button>
          </div>
        </div>
      </v-ons-page>
    </template>
    <template id="tutorialItem">
      <v-ons-carousel-item :style="{backgroundColor:bgColor,color:textColor}">
        <div class="carItm">
          <img :src="image">
          <p>
            <slot></slot>
          </p>

        </div>
      </v-ons-carousel-item>
    </template>
    <template id="search">
      <v-ons-page data-page="search">
        <custom-bar title="Search"></custom-bar>
        <div>
          <v-ons-row @focus.native="focus=true" @blur.native="focus=false">
            <v-ons-col><v-ons-search-input v-model="searchText"></v-ons-search-input></v-ons-col>
            <v-ons-col width="40px"><v-ons-button @click="search" modifier="quiet">
                <v-ons-icon icon="fa-search"></v-ons-icon>
            </v-ons-button></v-ons-col>
          </v-ons-row>
          <v-ons-row class="suggestList">
            <v-ons-col>
              <v-ons-list v-show="showSuggest">
                <v-ons-list-item v-for="sgst in suggest" @click="searchText=sgst">{{sgst}}</v-ons-list-item>
              </v-ons-list>
            </v-ons-col>
          </v-ons-row>
          <v-ons-progress-bar indeterminate v-show="loading&&!timedout"></v-ons-progress-bar>
          <div>
            <v-ons-list>
              <v-ons-list-item modifier="tappable" v-for="i in result" @click="goToContentDetail(i.id)">
                <div class="center">
                  <span class="list-item__title">{{i.name}}</span><span class="list-item__subtitle">{{i.description}}</span>
                </div>
              </v-ons-list-item>
              
            </v-ons-list>
            <p class="hint" v-if="result.length==0&&!loading&&timedout">Not found.Please add post here!</p>
            <p class="hint" v-show="result.length===0&&!timedout">
              Hint: "#古典" to search 古典 tag
            </p>
          </div>
          
        </div>
      </v-ons-page>
    </template>
    <template id="collection">
      <v-ons-page data-page="collection">
        <custom-bar title="Collection">
          <v-ons-toolbar-button>
            <v-ons-icon icon="ion-ios-refresh-empty" @click="getCollection"></v-ons-icon>
          </v-ons-toolbar-button>

        </custom-bar>
        <div>
          <v-ons-list v-if="items.length!=0&&items[0]">
            <v-ons-list-item modifier="tappable" v-for="i in items" @click="goToContentDetail(i.id)">
              <div class="left">
                <img v-if="i.icon" class="list-item__thumbnail" :src="i.icon">
              </div>
              <div class="center">
                <span class="list-item__title">{{i.name}}</span><span class="list-item__subtitle">{{i.description}}</span>
              </div>
            </v-ons-list-item>
          </v-ons-list>
          <v-ons-progress-bar indeterminate v-if="items.length==0&&!timedout"></v-ons-progress-bar>
          <p class="hint" v-if="items.length==0&&timedout">Not found.Please add post here!</p>
        </div>
      </v-ons-page>
    </template>

    <template id="other">
      <v-ons-page data-page="other">
        <custom-bar title="Other"></custom-bar>
        <v-ons-list>
          <v-ons-list-item modifier="chevron tappable" @click="goToTutorial">Tutorial</v-ons-list-item>
          <v-ons-list-item modifier="chevron tappable" @click="regenKey">Regenerate Key</v-ons-list-item>
          <v-ons-list-item modifier="chevron tappable" @click="changeServer">change server</v-ons-list-item>
          <v-ons-list-item modifier="chevron tappable" @click="goToConnectionChart">Connections</v-ons-list-item>
        </v-ons-list>
      </v-ons-page>
    </template>
    <template id="changeServer">
      <v-ons-page data-page="changeServer">
        <custom-bar title="Change Server"></custom-bar>
        <div>
          Choose or specify the address to the server.

          <v-ons-list>
            
            <v-ons-list-item modifier="chevron" @click='svr = "https://p2plearn.herokuapp.com/"'>https://p2plearn.herokuapp.com/</v-ons-list-item>
          </v-ons-list>
          
          <input v-model="svr" placeholder="type here">
          <v-ons-button @click="apply" modifier="large">Apply & Reload</v-ons-button>
        </div>
      </v-ons-page>
    </template>
    <template id="contentInfo">

      <v-ons-page data-page="contentInfo">
        <custom-bar title="Detail"></custom-bar>
        <div>
          <div v-if="!!content.contentId" class="contentContainer">
            <div class="name">{{content.name}}</div>
            <div class="actionBtn">
              <v-ons-button v-if="!content.user.hasThisItem" @click="addThisToCollection">
                <v-ons-icon icon="ion-plus"></v-ons-icon>
                Open/Add to collection
              </v-ons-button>
              <v-ons-button v-if="content.user.hasThisItem && content.file.downloadable && !content.user.hasDownloaded" @click="download">
                <v-ons-icon icon="fa-download"></v-ons-icon>
                Download
              </v-ons-button>
              <v-ons-button v-if="content.user.hasThisItem && content.file.downloadable && content.user.hasDownloaded" modifier="outline">
                Downloaded
              </v-ons-button>
              <v-ons-button v-if="content.user.hasThisItem &&content.file.readableInViewer" @click="view">
                <v-ons-icon icon="fa-book"></v-ons-icon>
                View
              </v-ons-button>
            </div>
            <div class="shortDescription" v-show="!fullDescription">
              {{content.shortDescription}}
            </div>
            <div class="description" v-show="fullDescription" v-html="description">
            </div>
            <a v-if="fullDescription" @click="fullDescription=false" class="showLess"><v-ons-icon icon="ion-arrow-up-b"></v-ons-icon>Show less</a>
            <a v-if="!fullDescription" @click="fullDescription=true" class="showMore"><v-ons-icon icon="ion-arrow-down-b"></v-ons-icon>Show more</a>
            <div class="tags">
              <span class="tagItem" v-for="tag in content.tag" :class="{locked:tag.locked}" @click="searchTag(tag.name)">{{tag.name}}</span>
            </div>
            <ons-row>
              <ons-col>Content ID</ons-col>
              <ons-col>{{content.contentId}}</ons-col>
            </ons-row>
            <ons-row>
              <ons-col>Uploaded by</ons-col>
              <ons-col><a :href="content.uploader.id" @click.prevent="showProfile(content.uploader.id)">{{content.uploader.name||"Anonymous"}}</a></ons-col>
            </ons-row>
            <ons-row>
              <ons-col>Downloadable</ons-col>
              <ons-col>{{content.file.downloadable?"Yes":"No"}}</ons-col>
            </ons-row>
            <ons-row>
              <ons-col>Data size</ons-col>
              <ons-col>{{content.file.bytes}}Byte</ons-col>
            </ons-row>
            <ons-row>
              <ons-col>Ads</ons-col>
              <ons-col>{{content.ad?(content.ad.type):"No ads"}}</ons-col>
            </ons-row>
            <div class="contentId"></div>
          </div>
          <v-ons-progress-bar indeterminate v-else></v-ons-progress-bar>
        </div>
      </v-ons-page>
    </template>

    <template id="download">
      <v-ons-page data-page="download">
        <custom-bar title="Download"></custom-bar>
        <div>
          <div v-if="ret.id">
            Do you really want to download<br>{{ret.name}} ?<br>
            Data size: {{ret.bytes}} bytes
            

            <v-ons-button modifier="large" @click="startDownload">Download</v-ons-button>
          </div>
        </div>
      </v-ons-page>
    </template>

    <template id="viewer">
      <v-ons-page data-page="viewer">
        <custom-bar title="View"></custom-bar>
        <iframe ref="frame" frameborder="0" src=""></iframe>
      </v-ons-page>
    </template>

    <template id="customBar">
      <v-ons-toolbar>
        <div class="left">
          <v-ons-back-button></v-ons-back-button>
        </div>
        <div class="center">{{title}}</div>
        <div class="right">
          <slot></slot>
        </div>
      </v-ons-toolbar>
    </template>
    <template id="first">
      <v-ons-page data-page="first">
        <custom-bar title="Welcome!"></custom-bar>
        <div class="btns">
          <p>Have you ever used this app?</p>
          <v-ons-button modifier="large cta" @click="goToUseKey">Yes.I use an existing key.</v-ons-button>
          <v-ons-button modifier="large" @click="goToGenKey">No.Create new one.</v-ons-button>
          <v-ons-button modifier="quiet" @click="goToTutorial">鍵についての説明を読む(Japanese)</v-ons-button>
        </div>
      </v-ons-page>
    </template>
    <template id="generateKey">
      <v-ons-page data-page="generateKey">
        <custom-bar title="Generate key"></custom-bar>
        <div class="touchArea" ref="touchArea">
          <p v-show="cnt<13">
            Swipe here many times to improve security.<br>
            <small v-hide="isPhone">Click and drag here.</small>
            <small v-show="sensorAvailable">Or shake your device</small>
          </p>
          <p v-show="cnt>=13">Calculating.<br><small>This might take a few minutes</small></p> 
          <v-ons-progress-bar :value="cnt/13*100"></v-ons-progress-bar>
        </div>
      </v-ons-page>
    </template>
    <template id="noteKey">
      <v-ons-page data-page="noteKey">
        <custom-bar title="Write down these words"></custom-bar>
        <div class="pad">
          Please write these words on the paper.<br>
          Do not copy.<br>
          Do not take a screenshot.<br>
          Please make sure that your screen is not being watched by others. <br/>
          If you forget it or tell it to others. you will not be able to recover your data.<br>
          <textarea name="" id="" cols="30" rows="10" disabled="disabled">{{wordsToShow}}</textarea><br>
               <v-ons-button modifier="large" @click="done">Done</v-ons-button>
        </div>
      </v-ons-page>
    </template>
    <template id="useKey">
      <v-ons-page data-page="useKey">
        <custom-bar title="Use existing key"></custom-bar>
        <div>
          <textarea v-model="words" @change="again=false" id="" cols="30" rows="10" placeholder="Type your key here."></textarea>
          <p v-show="again">Words is incorrect.Try again.</p>
          <v-ons-button modifier="large" @click="next">Next</v-ons-button>
        </div>
        
      </v-ons-page>
    </template>

    <template id="uploadFile">
      <v-ons-page data-page="uploadFile">
        <custom-bar title="Upload File"></custom-bar>
        <div>
          
          <v-ons-list>
            <v-ons-list-header>Name:</v-ons-list-header>
            <v-ons-list-item><v-ons-input placeholder="Name" v-model="uploadData.name"></v-ons-input></v-ons-list-item>
            <v-ons-list-header>Tags</v-ons-list-header>
            <v-ons-list-item><v-ons-input placeholder="Tag" v-model="uploadData.tags[0]"></v-ons-input></v-ons-list-item>
            <v-ons-list-item><v-ons-input placeholder="Tag" v-model="uploadData.tags[1]"></v-ons-input></v-ons-list-item>
            <v-ons-list-item><v-ons-input placeholder="Tag" v-model="uploadData.tags[2]"></v-ons-input></v-ons-list-item>
            <v-ons-list-item><v-ons-input placeholder="Tag" v-model="uploadData.tags[3]"></v-ons-input></v-ons-list-item>
            <v-ons-list-header>Description</v-ons-list-header>
            <v-ons-list-item><textarea v-model="uploadData.description" placeholder="Description"></textarea></v-ons-list-item>
            <v-ons-list-header>Adscript</v-ons-list-header>
            <v-ons-list-item><textarea v-model="uploadData.adInfo" placeholder="Ad Script"></textarea></v-ons-list-item>
             <v-ons-list-header>Select File</v-ons-list-header>
            <v-ons-list-item><input type="file" ref="file"/><br></v-ons-list-item>
          </v-ons-list>
          <v-ons-button @click="upload" modifier="large" :disabled="uploading">Upload</v-ons-button>
        </div>
      </v-ons-page>
    </template>
    <template id="myProfile">
      <v-ons-page data-page="myProfile">
        <custom-bar title="My Profile"></custom-bar>
        <div>
          Your user ID is {{myId}}
          Please edit your information.
          <br/>
          <v-ons-input placeholder="Name" v-model="screenName" @change="update"></v-ons-input>
          <br/>
          <textarea cols="30" id="" name="" rows="10" placeholder="Profile" v-model="profile" @change="update"></textarea>
          <br/>
        </div>
      </v-ons-page>
    </template>

    <template id="userProfile">
      <v-ons-page data-page="userProfile">
        <custom-bar :title="screenName||'Loading...'"></custom-bar>
        <div>
          <div v-if="!!screenName" class="contentContainer">
            <div class="name">{{screenName}}</div>

            <div class="description" v-html="profile">
              
            </div>
            <p>User ID is:<br>
                {{id}}</p>
          </div>
          <v-ons-progress-bar indeterminate v-else></v-ons-progress-bar>
        </div>
      </v-ons-page>
    </template>
    <template id="connectionChart">
      <v-ons-page data-page="connectionChart">
        <custom-bar title="Connections"></custom-bar>
        <div>
          <v-ons-list>
            <v-ons-list-header>You have connections with</v-ons-list-header>
            <v-ons-list-item v-for="peer in myConnectionList">
              <div class="center">
                <span class="list-item__subtitle">{{peer.address||""}}</span>
                <span class="list-item__title">{{peer.id}}</span>
              </div>
            </v-ons-list-item>
          </v-ons-list>
        </div>
      </v-ons-page>
    </template>

    <template id="editJson">
      <v-ons-page data-page="editJson">
        <custom-bar title="Edit JSON"></custom-bar>
        <div>
          <json-hash :value="{hash:{k:1,l:{tt:{}}},mash:[3]}" root="true"></json-hash>
        </div>
      </v-ons-page>
    </template>
    <template id="jsonHash">
      <div class="jsonHash">
        <span class="jsonKey" v-if="jsonKey">
          <span class="jsonKeyStr">{{jsonKey}}</span>
          <span class="jsonKeyDivider">:</span>
        </span>{<closable>
        <div v-for="(val,key) in value" :is="'json-'+getType(val)" :key="key" :json-key="key" :value="val"></div>
        <json-add></json-add>
        </closable>
        },
      </div>
    </template>
    <template id="jsonValue">
      <div class="jsonValue">
        <span class="jsonKey" v-if="jsonKey">
          <span class="jsonKeyStr">{{jsonKey}}</span>
          <span class="jsonKeyDivider">:</span>
        </span>
        <input type="text" v-model="value" v-if="value"/>
        
        ,
      </div>
    </template>
    <template id="jsonList">
      <div class="jsonList">
        <span class="jsonKey" v-if="jsonKey">
          <span class="jsonKeyStr">{{jsonKey}}</span>
          <span class="jsonKeyDivider">:</span>
        </span>[<closable>
          <div v-for="(val,i) in value" :is="'json-'+getType(val)" :key="i" :value="val"></div>
          <json-add></json-add>
          </closable>
        ],
        
      </div>
      
    </template>
    <template id="jsonAdd">
      <div class="editMenu add open">
        
        <span>
          <input type="text" v-model="key"/>
          <input type="text" v-model="value"/>
        </span>
        <a class="openAdd" @click="notifyAdd">Add</a>
      </div>
    </template>

    <template id="closable">
      <span class="closable">
        <span class="chevron" @click="open=!open">{{open?"Close":"Open"}}</span>
        <slot v-if="open"></slot>
      </span>
    </template>
    
    <script src="cordova.js"></script>
    <script src="dist/vue.min.js"></script>
    <script src='dist/onsenui/js/onsenui.min.js'></script>
    <script src='dist/onsenui/vue-onsenui.min.js'></script>

    <script src="dist/main.js"></script>

  </body>
</html>
